.component-button {
  background-color: deepskyblue;
  border: solid 1px deepskyblue;
  padding: 12px 30px;
  cursor: pointer;
  border-radius: 5px;
  color: #FFF;
  font-weight: 700;
  font-size: 1.2em;
}